@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-5">Enter your details to get a list of mortgage products</h3>
    <div class="card" style="margin-top: 10px; padding: 10px;">
        <form>
            <div class="form-row">
                <div class="col">
                    <label class="col-form-label">First Name</label>
                    <div> <input type="text" id="firstName" name="firstName" class="form-control"/></div>
                </div>
                <div class="col">
                    <label class="col-form-label">Last Name</label>
                    <div> <input type="text" id="lastName" name="lastName" class="form-control"/></div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label class="col-form-label">Email</label>
                    <div> <input type="email" id="email" name="email" class="form-control"/></div>
                </div>
                <div class="col">
                    <label class="col-form-label">Date of birth</label>
                    <div> <input type="date" id="dob" name="dob" class="form-control"/></div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <label class="col-form-label">Property Value</label>
                    <div> <input type="number" id="propertyValue" name="propertyValue" class="form-control"/></div>
                </div>
                <div class="col">
                    <label class="col-form-label">Deposit Amount</label>
                    <div> <input type="number" id="depositAmount" name="depositAmount" class="form-control"/></div>
                </div>
            </div>
            <div class="p-2">
                <button class="btn btn-primary" id="submit">submit</button>
            </div>
        </form>
        <div id="results">

        </div>
    </div>
</div>
@section scripts{
    <script>
        //THIS DOESN'T WORK!! RAN OUT OF TIME TO REDO, BUT SHOULD'VE REALLY DONE THE WEB FRONT END IN ANGULAR OR REACT ETC
        $('#submit').on('click',
            function(e) {
                e.preventDefault();
               // alert("button clicked")
                const formData = {
                    applicant: {
                        firstName: $('#firstName').val(),
                        lastName: $('#lastName').val(),
                        dateOfBirth: $('#dob').val(),
                        email: $('#email').val(),
                    },
                    propertyValue: $('#propertyValue').val(),
                    depositAmount: $('#depositAmount').val(),
                };
                console.log(formData);
                $.ajax({
                    type: "GET",
                    url: "http://localhost:26262/api/Applicant/findmortgages",
                    data: formData,
                    dataType: 'application/json',
                    contentType: 'application/json',
                    done: function(data) {
                        console.log('result', data);

                    },
                    fail: function(jqXHR, textStatus, errorThrow) {
                        alert(textStatus);
                        alert(jqXHR);
                    }

                });
            })
    </script>
}